{% extends 'messages/layouts/base.html' %}


{% block content %}
    <h1>Lineユーザーリスト</h1>
    {% for line_user in linepush_list %}
        <p><a href="{% url 'sys:user_detail' line_user.pk %}">{{ line_user.display_name }}</p>
    {% endfor %}
{% endblock %}

